@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.HomeCompositeViewModel

<div class="govuk-main-wrapper ">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               
                <govukHeadingH1 text="Your Account"></govukHeadingH1>
                <p>
                    On 1 August 2019 we made changes to remove CVs and action plan documents. You will still be able to access your Skills health check results and manage your account details from this page.
                </p>
                @*TODO: Add Inset text to CommonUI Library*@
                <div class="govuk-inset-text">
                    If you need further help or advice, you can speak to a careers adviser by calling 0800 100 900
                </div>
                <govUkHeadingH3 text="Skills health checks"></govUkHeadingH3>
                <table class="govuk-table" aria-describedby="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @{
                            if (Model.ShcDocuments.Count > 0)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table-cell">Started 20 April 2020 08:47</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"><govUkLink link-href="#" link-text="View"></govUkLink></td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"><govUkLink link-href="#" link-text="Delete"></govUkLink></td>
                                </tr>
                            }
                            else
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table-cell">No skills health checks found.</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="app-related-items">
                    <govukHeadingH3 text="Manage your account"></govukHeadingH3>
                    @*TODO: Add basic list to CommonUI Library*@
                    <ul class="govuk-list">
                        <li>
                            <govukLink class="govuk-!-font-size-16" link-href="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.YourDetails" id="@Model.GetElementId("govUkLink", "your-details")"link-text="Your details"></govukLink>
                        </li>
                        <li>
                            <govukLink class="govuk-!-font-size-16" link-href="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.ChangePassword" id="@Model.GetElementId("govUkLink", "change-password")" link-text="Change your password"></govukLink>
                        </li>
                        <li>
                            <govukLink class="govuk-!-font-size-16" link-href="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.CloseAccount" id="@Model.GetElementId("govUkLink", "close-account")" link-text="Close your account"></govukLink>
                        </li>
                    </ul>
                </div>
                <partial name="~/ViewComponents/SpeakToAdviser/SpeakToAdvisorComponent.cshtml" />
            </div>
        </div>
    </div>
</div>
