@using DFC.App.Account.Application.Common.Extensions
@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.CloseYourAccountCompositeViewModel


@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/ViewComponents/ErrorSummary/ErrorSummaryComponent.cshtml" />

            <form id="@Model.GetElementId("form","closeYourAccount")" action="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.CloseYourAccount" class="govuk-form-group validationOnClient " method="post">

                @Html.HiddenFor(model => model.CustomerId)
                <govukHeadingH1 text="@Model.PageHeading"></govukHeadingH1>
                <p class="govuk-body">
                    Closing your account means you will no longer have online access to:
                    <ul class="govuk-body list list-bullet">
                        <li>any personal information you’ve shared with us</li>
                        <li>any adviser created action plans</li>
                    </ul>  
                </p>

                <p class="govuk-body">
                    Your careers adviser will still have access to information that you've provided:
                    <ul class="govuk-body list list-bullet">
                        <li>in a face-to-face session</li>
                        <li>over the phone</li>
                    </ul>
                </p>
                
                <p class="govuk-body">If you want to find out how we look after your information, read our <govukLink id="PrivatePolicy" link-text="privacy policy" link-href="https://nationalcareers.service.gov.uk/help/privacy-and-cookies"></govukLink></p>

                <h2 class="heading-medium">Confirm account closure</h2>
                <p>Enter your password to close your account.</p>
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" @HtmlExtensions.GetClass(Html.NameFor(m => m.Password).ToString(), ViewData.ModelState)>

                    <govukLabel id="lablepassword" text="Password" for="password"></govukLabel>
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "govuk-error-message" })

                    @Html.PasswordFor(model => model.Password, new { id = "password", @class = $"govuk-input govuk-input--width-20 {Model.GetErrorClass(Html.NameFor(m => m.Password).ToString(), ViewData.ModelState)}" })
                </div>
                <br />
                <div class="govuk-form-group">
                    <govukButton id="@Model.GetElementId("govukButton", "CloseAccount")" text="Close account" />
                </div>
                <p>
                    or
                    <a href="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.Home">
                        cancel and return to your account
                    </a>.
                </p>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="~/ViewComponents/SpeakToAdviser/SpeakToAdvisorComponent.cshtml" />
        </div>
    </div>
</div>


