@using DFC.App.Account.ViewComponents.Row
@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.CloseYourAccountCompositeViewModel
<div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
   
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govukErrorSummary id="@Model.GetElementId("govukErrorSummary", "ErrorSummary")" hidden="@(!Model.HasError)">
                <govukErrorSummaryItem href="#@Model.GetElementId("fieldset","radio")" text="Choose skills to remove from your skills list"></govukErrorSummaryItem>
            </govukErrorSummary>
            
            <govukHeadingH1 text="@Model.PageHeading"></govukHeadingH1>
            <p>
                Closing your account means we'll delete all of your personal information and any of the following that are stored in your account:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>CVs</li>
                <li>Skills health check reports</li>
                <li>adviser created action plans</li>
                <li>personal action plans</li>
                <li>saved course searches</li>
            </ul>
            <p>
                It will also mean that advisers won't be able to access any
                information about you that you've provided to
                careers advisers face-to-face or over the phone.
            </p>
            <form action="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.CloseYourAccount" class="govuk-form-group mt" method="post" novalidate="novalidate">

                <div class="govuk-form-group">
                    <label class="form-label" for="Reason">Tell us why you want to close your account</label>
                    <span class="field-validation-valid error-message" data-valmsg-for="Reason" data-valmsg-replace="true"></span>
                    <textarea asp-for="Reason" ariarequired="true" class="govuk-textarea" cols="50" data-fieldgroup="DetailsGroup" data-val="true" data-val-length="You may only have up to 250 characters" data-val-length-max="250" data-val-length-min="1" data-val-required="Enter a reason for closing your account" id="Reason" name="Reason" rows="10"></textarea>
                    <p id="textdetailscounter" class="hint" aria-live="polite" aria-atomic="false">(Limit is 250 characters)</p>
                    <govukError text="Choose skills to remove from your skills list" id="@Model.GetElementId("govukError", "ErrorMessage")"
                                hidden="@(!Model.HasError)">
                    </govukError>
                </div>
                <govukHeadingH2 text="Confirm account closure"></govukHeadingH2>
                <p>Enter your password to close your account.</p>
                <div class="govuk-form-group ">
                    <label class="form-label" for="Password">Password</label>
                    <span class="field-validation-valid error-message" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    <input asp-for="@Model.Password" class="govuk-input govuk-input--width-20" data-val="true" data-val-required="Invalid password" id="password" name="Password" type="password">
                    <govukError text="Choose skills to remove from your skills list" id="@Model.GetElementId("govukError", "ErrorMessage")"
                                hidden="@(!Model.HasError)">
                    </govukError>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="govuk-form-group">
                    <govukButton id="@Model.GetElementId("govukButton", "CloseAccount")" text="Close account" />
                </div>
                <p>
                    or
                    <a href="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.Home">
                        cancel and return to your account
                    </a>.
                </p>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="~/ViewComponents/SpeakToAdviser/SpeakToAdvisorComponent.cshtml"/>
        </div>
    </div>
</div>
