@using DFC.App.Account.Application.Common.Extensions
@using DFC.App.Account.ViewModels
@model DFC.App.Account.ViewModels.CloseYourAccountCompositeViewModel


@if (null == Model)
{
    <title>@CompositeViewModel.AppTitle</title>
}
else
{
    <title>@Model.PageTitle</title>
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/ViewComponents/ErrorSummary/ErrorSummaryComponent.cshtml" />

            <form id="@Model.GetElementId("form","closeYourAccount")" action="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.CloseYourAccount" class="govuk-form-group validationOnClient " method="post">

                @Html.HiddenFor(model => model.CustomerId)
                <govukHeadingH1 text="@Model.PageHeading"></govukHeadingH1>
                <p>
                    Closing your account means we'll delete all of your personal information and any adviser created action plans.
                </p>

                <p>
                    It will also mean that advisers won't be able to access any information about you that you've provided to careers advisers face-to-face or over the phone.
                </p>

                <h2 class="heading-medium">Confirm account closure</h2>
                <p>Enter your password to close your account.</p>
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" @HtmlExtensions.GetClass(Html.NameFor(m => m.Password).ToString(), ViewData.ModelState)>

                    <govukLabel id="lablepassword" text="Password" for="password"></govukLabel>
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "govuk-error-message" })

                    @Html.PasswordFor(model => model.Password, new { id = "password", @class = $"govuk-input govuk-input--width-20 {Model.GetErrorClass(Html.NameFor(m => m.Password).ToString(), ViewData.ModelState)}" })
                </div>
                <br />
                <div class="govuk-form-group">
                    <govukButton id="@Model.GetElementId("govukButton", "CloseAccount")" text="Close account" />
                </div>
                <p>
                    or
                    <a href="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.Home">
                        cancel and return to your account
                    </a>.
                </p>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="~/ViewComponents/SpeakToAdviser/SpeakToAdvisorComponent.cshtml" />
        </div>
    </div>
</div>


